*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: 200px auto;
    width: 300px;
    height: 40px;//высата на плашки или суроттун бийиктиги//
    background-color: black;
    position: relative;
    color:#ffff;
    text-align: center;
}
#check-menu {
    display: none;
}
label{
 display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    background-color: blueviolet;
}
.burger-liner {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 36px;
    height: 2px;
    background-color: blue;
    transition: .50s;
    border-radius: 16px;
}
.burger-liner:nth-of-type(2),
.burger-liner:nth-of-type(3){
    top: 15px;
}

.burger-liner:nth-of-type(4){
    top: 22px;
}
.main-menu {
    display: block;
    position: absolute;
    width: 18.8rem;
    bottom: 0;
    left: 0;
    max-height: 0;
    font-size: 0;
     overflow: hidden;
    transform: translateY(100%);
    transition: .4s all;

}
.main-menu a {
   display: block;
    width: 100%;
    padding: 10px;
    color: red;
    background-color: aqua;
    text-decoration: none;

}
.main-menu a:hover {
    background-color: chartreuse;
}
#check-menu:checked~.main-menu {
    max-height: 500px;

}
#check-menu:checked~.burger-line:nth-of-type(1) ,
#check-menu:checked~.burger-line:nth-of-type(4) {
display: none;
}
#check-menu:checked~.burger-line:nth-of-type(4) {
display: none;
}
#check-menu:checked~.burger-line:nth-of-type(2) {
 transform: rotate(45deg);
}
#check-menu:checked~.burger-line:nth-of-type(2) {
    transform: rotate(45deg);
}